@{
    ViewBag.Title = "ShowGoods";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<div class="panel-body">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-18 col-md-12">

                <div id="productGrid" style="height:550px;"></div>
            </div>
        </div>
    </div>

</div>


