@section scripts{
    <script src="~/Scripts/Services/JsonCardModule.js"></script>
    <script src="~/Scripts/Card/goodcard.directive.js"></script>
}
@{
    ViewBag.Title = "ShowGoods";
}


<div class="container">
    <div ng-controller="JsonCardController">
        <input type="text" placeholder="Search good" ng-model="searchCard" class="card" />
        <br>
        <div class="catalog">
            <goodcard ng-repeat="t in goods | filter:{Name: searchCard}" item="t" id="{{$index}}"></goodcard>
        </div>
    </div>
</div>


